@import 'tailwindcss';
@import 'nprogress/nprogress.css';
@custom-variant dark (&:where(.dark, .dark *));

#nprogress .bar {
  background: #3b82f6;
  height: 2px;
}

button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"],
[type="checkbox"],
[type="radio"],
select {
  cursor: pointer;
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled,
[role="button"]:disabled,
[type="checkbox"]:disabled,
[type="radio"]:disabled,
select:disabled {
  cursor: not-allowed;
}

.dark input,
.dark textarea,
.dark select {
  color: white;
}
